<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../assets/css/layui.css">
	<link rel="stylesheet" href="../../assets/css/view.css"/>
	<title></title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-card-header">添加用户</div>

				<form id="form" class="layui-form layui-card-body" >
					<div class="layui-form-item">
						<label class="layui-form-label">用户姓名</label>
						<div class="layui-input-block">
							<input type="text" name="username" required  lay-verify="required" placeholder="请输入用户姓名" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">用户密码</label>
						<div class="layui-input-block">
							<input type="text" name="password" required  lay-verify="required" placeholder="请输入用户密码" autocomplete="off" class="layui-input">
						</div>
					</div>


					<div class="layui-form-item">
						<label class="layui-form-label">手机号码</label>
						<div class="layui-input-block">
							<input type="text" id="phonenumber" name="userphone" required  lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">身份证号</label>
						<div class="layui-input-block">
							<input type="text" id="identity" name="customerID" required lay-verify="required" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="../../assets/layui.all.js"></script>
	<script src="/qrcode/jquery2.1.4.js"></script>
	<script src="/layer/layer.js"></script>
	<script>
		var form = layui.form
			,layer = layui.layer;
		var phoneReg = /^[0-9]{11}$/;
		var idReg = /^[0-9]{18}$/;
	</script>
	<script>
		$(function(){
			$("#phonenumber").blur(
				function(){
					var userphone = $("input:eq(2)").val();
					if (userphone == null || !phoneReg.test(userphone)){
						layer.msg("请输入正确手机号");
						$("input:eq(2)").val(null);
					}
				}
			);

			$("#identity").blur(
					function(){
						var customerID = $("input:eq(3)").val();
						if (customerID == null || !idReg.test(customerID)){
							layer.msg("请输入正确身份证号");
							$("input:eq(3)").val(null);
						}
					}
			);

			$("#form").submit(function(){
				var windowId = layer.load();
				var username = $("input:eq(0)").val();
				var password = $("input:eq(1)").val();
				var userphone = $("input:eq(2)").val();
				var customerID = $("input:eq(3)").val();

				// if (userphone == null || userphone.length != 11){
				// 	layer.error("请输入正确手机号");
				//
				// }
				//
				// if (customerID == null || userphone.length != 18){
				// 	layer.error("请输入正确身份证号");
				// }

				$.post("/user/insert.do",{
					userName:username,
					password:password,
					userPhone:userphone,
					customerID:customerID
				},function(data){
					layer.close(windowId);
					layer.msg(data.result);
				});
			});

		});
	</script>
	</body>
</html>
